<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"> Admin </a></li>
    <li class="breadcrumb-item active" aria-current="page"> Modifier </li>
  </ol>
</nav>
<div class="card">
  <div class="card-header"> Modifier utilisateur </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">Nom :</label>
          <input type="text" name="nom" class="form-control"  placeholder="Nom" [(ngModel)]="employe.nom" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="">Prénom :</label>
          <input type="text" name="prenom" class="form-control"  placeholder="Prénom" [(ngModel)]="employe.prenom" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="">Login :</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" >@</span>
            </div>
            <input type="text" name="login" class="form-control" placeholder="Login" [(ngModel)]="employe.login" required>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">Mot de passe :</label>
          <input type="text" name="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="employe.password" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for=""> Type profil : </label>
          <select class="form-control" name="typeuser"  [(ngModel)]="employe.typeEmploye" required>
            <option value="admin">Admin</option>
            <option value="commercial">Commercial</option>
            <option value="rh">RH</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="">Date de naissance :</label>

          <input type="date" name="dateNaissance" class="form-control" placeholder="date"
                 [ngModel]="employe.dateNaissance | date: 'y-MM-dd'" (ngModelChange)="dateChanged($event)" required />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">Email :</label>
          <input type="text" name="email" class="form-control"  placeholder="Email" [(ngModel)]="employe.email" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="">Salaire :</label>
          <input type="number" name="salaire" class="form-control"  placeholder="Salaire" [(ngModel)]="employe.salaire" required>
        </div>
      </div>
      <input type="submit" value="Sauvegarder" class="btn btn-primary" (click)="updateUser()">

    </form>

  </div>
</div>
